$white: #EEF2F4;
$offwhite: #F1F1F1;
$navy: #003156;
$dark-blue: #005696;
$mid-blue: #69ADE1;
$light-blue: #A4CEEE;
$light-blue-2: #ECF3FB;
$yellow: #FCD74E;
$green: #5FAD05;
$light-grey: #DDD;
$medium-grey: #989;
$dark-grey: #4A4A4A;
$facebook: #2E4DA7;
$twitter: #42B6E7;
$linkedin: #0277B5;
$whatsapp: #00E676;
$googleplus: #DD5144;
$pinterest: #BD081B;
$background: $white;
$primary: $dark-blue;
$secondary: $navy;
$accent: $yellow;
