
%flex-center {
  justify-content: center;
  align-items: center;
}


%menu-default {
  ul {
    list-style: none;
  }
  a {
    display: block;
  }
}

%blog-list-title {
  font-weight: bold;
  color: black;
}

%blog-list-date {
  font-weight: bold;
  color: $primary;
  text-transform: uppercase;
}

%breadcrumb-container {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  .bread-crumb-blog-title {
    display: inline-block;
  }
}

%button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  display: flex;
  @extend %flex-center;
  box-shadow: 0 3px 3px 0 rgba(0, 57, 100, 0.2);
  transition: 0.2s;
  @include breakpoint (mobileonly) {
    padding: 5px 10px;
    font-size: 13px;
  }
}

%select {
  width: 100%;
  border: 1px solid $light-grey;
  position: relative;
  select {
    padding: 5px 35px 5px 10px;
    appearance: none;
    border: none;
    width: 100%;
    color: $medium-grey;
    &:focus {
      color: black;
    }
    option {
      color: black;
      &[autofocus] {
        color: $medium-grey;
      }
    }
  }
  &:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Pro";
    content: '\f078';
    font-size: 20px;
    padding: 0 10px;
    color: $mid-blue;
    pointer-events: none;
  }
}

%date-selector {
  width: 100%;
  border: 1px solid $light-grey;
  position: relative;
  input[type="text"] {
    padding: 5px 35px 5px 10px;
    border: none;
    width: 100%;
    color: black;
    &::placeholder {
      color: $medium-grey;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Pro";
    content: '\f073';
    font-size: 20px;
    padding: 0 10px;
    color: $mid-blue;
    pointer-events: none;
  }
}
