@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
@charset "UTF-8";

%opensans {
  font-family: 'Open Sans', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}
