.pre-footer-blog-container {
  .attachment-footer-thumbnail {
    height: auto;
    transition: 0.2s;
    max-width: inherit;
    object-fit: fill;
  }
  .blog-thumbnail {
    position: relative;
    overflow: hidden;
    height: 125px;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0;
      transition: 0.2s;
      z-index: 2;
    }
  }
}

.pre-footer-blog-title-container, .pre-footer-blog-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pre-footer-blog-item-link {
  margin: 10px 0;
}

.pre-footer-cta-item {
  position: relative;
  display: flex;
  @extend %flex-center;
  text-align: center;
  height: 150px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  overflow: hidden;
  transition: 0.3s;
  @include breakpoint (991px) {
    border-right: none;
    border-bottom: 1px solid white;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &:last-of-type {
    border-right: none;
  }
  &:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $primary;
    opacity: 0.7;
    z-index: 2;
    transition: 0.3s;
  }
  &:hover {
    &:after {
      background: linear-gradient(135deg, #FCD74E 0%, #007C96 52.57%, #005696 100%);
    }
    .background-image {
      transform: scale(1.2) translate(-50%, -50%);
      filter: blur(5px);
    }
  }
  h3 {
    color: white;
    z-index: 3;
    margin-bottom: 0!important;
  }
  .background-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
}

.pre-footer-blog-title-container {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid $light-blue;
  h3 {
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .pre-footer-blog-title-header-title {
	  text-transform: capitalize;
      margin-bottom: 20px;
	  font-size: $h3-size;
	  color: $secondary;
  }
}

.pre-footer-blog-item-link {
  display: block;
  h4, h5 {
    transition: 0.2s;
  }
  &:hover {
    h4,
	.pre-footer-blog-item-link-title {
      color: $primary;
    }
    h5,
	.pre-footer-blog-item-link-date {
      color: $mid-blue;
    }
    .overlay {
      opacity: 0.15;
    }
    .attachment-footer-thumbnail {
      transform: scale(1.05, 1.05);
    }
  }
  h4 {
    @extend %blog-list-title;
    padding: 5px 0;
  }
  .pre-footer-blog-item-link-title {
	  @extend %blog-list-title;
      padding: 5px 0;
	  transition: 0.2s;
	  font-size: $h4-size;
	  font-weight: 700;

  }
  h5 {
    @extend %blog-list-date;
    padding-top: 10px;
  }
  .pre-footer-blog-item-link-date {
	@extend %blog-list-date;

	transition: 0.2s;
    padding-top: 10px;
	font-size: $h5-size;
	font-weight: 700;
	padding-top: 10px;

  }
}

.main-footer {
  background-color: $secondary;
  padding-top: 30px;
  padding-bottom: 30px;
  * {
    color: white;
  }
  ul {
    list-style: none;
  }
  a {
    &:hover {
      color: $yellow;
    }
  }
  .container {
    @include breakpoint (laptop) {
      max-width: 100%;
    }
  }
  .menu {
    a {
      text-transform: uppercase;
    }
    .menu-item-has-children {
      >a {
        font-weight: 600;
      }
    }
  }
  .sub-menu {
    li {
      @include breakpoint (laptop) {
        padding: 6px 0;
      }
    }
    a {
      text-transform: capitalize;
      line-height: 20px;
    }
  }
}

.main-footer-left-container {
  >.row {
    height: 100%;
  }
  span {
    text-transform: uppercase;
    font-weight: 600;
  }
  .branding {
    max-width: 75%;
    @include breakpoint (laptop) {
      max-width: 100%;
      padding: 0;
    }
    @include breakpoint (phablet) {
      padding: 15px 0;
      img {
        margin: 0 auto;
      }
    }
  }
}

.main-footer-left-logo-container, .main-footer-left-contact-container {
  @include breakpoint (tablet) {
    max-width: 50%;
    flex-basis: 50%;
  }
  @include breakpoint (phablet) {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.contact-info {
  padding: 15px 0;
  @include breakpoint (laptop) {
    padding: 0;
  }
  @include breakpoint (phablet) {
    padding: 15px 0;
    text-align: center;
  }
  #social {
    display: none;
    padding: 5px 0;
    justify-content: flex-start;
    @include breakpoint (laptop) {
      display: flex;
    }
    @include breakpoint (phablet) {
      justify-content: center;
    }
    li {
      &:first-of-type {
        padding-left: 0;
      }
      @include breakpoint (tablet) {
        padding: 0 15px;
      }
      @include breakpoint (phablet) {
        &:first-of-type {
          padding-left: 15px;
        }
      }
    }
    i {
      transition: 0.2s;
      &:hover {
        color: $accent;
      }
    }
  }
}

.certificates {
  display: flex;
}

.main-footer-left-certificates-container {
  .certificates {
    max-width: 75%;
    @include breakpoint (laptop) {
      max-width: 100%;
    }
    @include breakpoint (tablet) {
      display: none;
    }
  }
}

.main-footer-right-certificates-container {
  display: none;
  @include breakpoint (tablet) {
    display: flex;
  }
  .certificates {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include breakpoint (phablet) {
      align-items: flex-start;
    }
  }
  .certificate {
    &:first-of-type {
      @include breakpoint (phablet) {
        margin-bottom: 20px;
      }
    }
  }
}

.certificate {
  padding: 0 5px;
}

.main-footer-right-container {
  font-size: 12px;
  div[class*="-menu-container"] {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.main-footer-right-location-menu-container {
  padding: 0!important;
  @include breakpoint (laptop) {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
#menu-all-our-locations {
  .sub-menu {
    column-count: 3;
    @include breakpoint (tablet) {
      column-count: 2;
    }
  }
}

.main-footer-right-menu-container {
  @include breakpoint (phablet) {
    &:nth-of-type(odd) {
      padding-left: 30px;
    }
    &:nth-of-type(even) {
      padding-right: 30px;
    }
  }
}

.main-footer-right-certificates-container {
  @include breakpoint (phablet) {
    padding-right: 30px;
  }
}

.menu-all-our-locations-container {
  border: 1px solid $primary;
  padding: 15px;
  @include breakpoint (tablet) {
    margin-top: 50px;
  }
}

.copyright {
  background-color: $primary;
  padding-top: 8px;
  padding-bottom: 8px;
  a {
    color: white;
    &:hover {
      color: $yellow;
    }
  }
}
.copyright-container {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: white;
}
