* {
  @extend %opensans;
}

body {
  padding-top: $header-height;
  @include breakpoint(desktop) {
    padding-top: $header-height-desktop;
  }
  @include breakpoint (tablet) {
    padding-top: $header-height-tablet;
  }
  @include breakpoint (phablet) {
    padding-top: $header-height-phablet;
  }
  // &.has-announcement {
  //   padding-top: $header-height-announcement;
  // }
  &.admin-bar {
    padding-top: $header-height-logged-in;
  }
}

h1 {
  line-height: $h1-line-height;
  @include breakpoint (tablet) {
    line-height: $h1-line-height-tablet;
  }
}

h2, h3 {
  color: $secondary;
}

table {
  border: none;
  margin-bottom: 30px;
}

tbody, tr {
  border: none;
  border-color: $light-grey;
}

td {
  padding: 10px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.loader {
  position: fixed;
  display: flex;
  @extend %flex-center;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  &.hidden {
    animation: fadeOut 0.8s;
    animation-fill-mode: forwards;
  }
}
.customize-partial-edit-shortcuts-shown {
  .loader {
    display: none;
  }
}

.spinner {
  border: 2px solid $offwhite;
  border-top: 2px solid $primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include breakpoint (phablet) {
    text-align: center;
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title-text {
	  color: white;
	  padding: 20px;
  }
}

.page-excerpt {
  color: white;
  text-align: center;
  padding: 20px 5% 90px 5%;

  .page-excerpt-text {
	  font-weight: 600;
    text-transform: uppercase;
    line-height: 26px;
	  font-size: 18px;
  }
}

.line {
  height: 5px;
  width: 200px;
  background-color: $accent;
  &.blue {
    background-color: $dark-blue;
  }
}

.button-yellow {
  @include button ($secondary, $accent, $primary, 50px);
  @extend %button;
  i {
    font-size: 30px;
    padding: 5px;
  }
  &:hover {
    color: $accent;
  }
}

.button-blue {
  @include button(white, $primary, $accent, 50px);
  @extend %button;
}

.button-green {
  @include button(white, $green, $yellow, 50px);
  @extend %button;
}

.button-play  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  @extend %flex-center;
  border-radius: 50%;
  i {
    font-size: 24px;
    position: relative;
    left: 3px;
    color: $dark-grey;
  }
}

.button-tile {
  display: flex;
  @extend %flex-center;
  position: relative;
  border: 1px solid white;
  background-size: cover;
  height: 300px;
  overflow: hidden;
  transition: 0.3s;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $secondary;
    opacity: 0.7;
    z-index: 2;
    transition: 0.3s;
    }
    &:hover {
      &:before {
        background: linear-gradient(135deg, #FCD74E 0%, #007C96 52.57%, #005696 100%);
      }
      .background-image {
        transform: scale(1.2) translate(-50%, -50%);
        filter: blur(5px);
      }
    }
    h1 {
      color: white;
      z-index: 3;
      text-align: center;
    }
    .background-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform-origin: 0% 0%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }
}

// .announcement-container {
//   position: relative;
//   background-color: $light-blue;
//   color: $secondary;
//   font-size: 14px;
//   font-weight: 700;
//   padding: 5px 0;
//   text-align: center;
//   display: block;
//   span {
//     padding: 0 15px;
//     overflow: hidden;
//     white-space: nowrap;
//   }
//   .announcement-container--button-close {
// 	  position: absolute;
//       top: 50%;
//       right: 15px;
//       transform: translateY(-50%);
//       color: $secondary;
// 	  border:
// 	  none;
// 	  background: transparent;
//   }
//   a {
//
//   }
// }

.breadcrumb-container-transparent {
  @extend %breadcrumb-container;
  color: white;
  a {
    color: white;
    &:hover {
      color: $accent;
    }
  }
}

.breadcrumb-container {
  @extend %breadcrumb-container;
  color: $secondary;
  background-color: $offwhite;
  a {
    color: $secondary;
    &:hover {
      color: $accent;
    }
  }
  h6 {
    font-size: 14px!important;
    font-weight: 600;
    color: $secondary!important;
  }
  .crunchify-social {
    justify-content: flex-end;
    a {
      color: white;
    }
  }
}

.main-container {
  background-color: $offwhite;
  padding-top: 30px;
  padding-bottom: 30px;

  &.template-fullpageform-main {
    padding-bottom: 0;
  }
  &.template-fullpageform-bottom {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.blog-main-container {
  background-color: $offwhite;
}

.careers-main-container {
  background-color: $offwhite;
  .container {
    position: relative;
    margin-bottom: -35px;
  }
  .page-container-content-container {
    position: relative;
    z-index: 2;
  }
}

.post-container {
  border-bottom: 1px solid $light-blue;
  height: 100%;
  overflow: hidden;
  .thumbnail-link {
    display: block;
    overflow: hidden;
    height: 300px;
    position: relative;
    img {
      object-fit: fill;
      max-width: inherit;
      @include breakpoint (phablet) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .post-container-meta,
  h5 {
	  font-size: $h5-size;
    margin: 8px 0;
    color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    a {
      color: $primary;
      &:hover {
        color: $mid-blue;
      }
    }
  }
  .post-container-title, h3 {
    font-weight: bold;
    margin-bottom: 10px!important;
	font-size: $h3-size;
	line-height: $h3-line-height;
    a {
      color: $secondary;
      &:hover {
        color: $primary;
      }
    }
  }
}

.content {
  padding: 40px;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
  @include breakpoint (tablet) {
    padding: 20px;
  }
  h1, h2, h3, h4, p, ul {
    margin-bottom: 20px;
  }
  ul {
    padding-left: 30px;
  }
  a:not([class^="button-"]):not([class^="crunchify-"]) {
    color: $primary;
    font-weight: 700;
    &:hover {
      color: $accent;
    }
  }
  img {
    display: inline-block;
    height: auto;
    &.aligncenter {
      display: block;
      margin: 0 auto;
    }
  }
}

.crunchify-social {
  display: flex;
  align-items: center;
  p {
    font-size: 18px;
    color: black;
  }
}

.crunchify-link {
  margin: 0 5px;
  color: white;
  padding: 2px 10px;
  text-align: center;
  i {
    padding: 0 5px;
  }
  &:hover {
    color: white;
  }
}

.crunchify-facebook {
  background-color: $facebook;
  &:hover {
    background-color: lighten($facebook, 10);
  }
}

.crunchify-twitter {
  background-color: $twitter;
  &:hover {
    background-color: lighten($twitter, 10);
  }
}

.crunchify-whatsapp {
  background-color: $whatsapp;
  &:hover {
    background-color: lighten($whatsapp, 10);
  }
}

.crunchify-googleplus {
  background-color: $googleplus;
  &:hover {
    background-color: lighten($googleplus, 10);
  }
}

.crunchify-linkedin {
  background-color: $linkedin;
  &:hover {
    background-color: lighten($linkedin, 10);
  }
}

.crunchify-pinterest {
  background-color: $pinterest;
  &:hover {
    background-color: lighten($pinterest, 10);
  }
}

.quick-container-container {
  background-color: $light-blue;
  position: relative;
  bottom: -30px;
  form {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint (tablet) {
      flex-direction: column;
    }
  }
  .gform_confirmation_wrapper {
    padding: 30px 0;
    color: $secondary;
  }
  .gform_wrapper {
    margin: 30px 0 50px 0;
    .gform_heading {
      width: 100%;
      margin: 20px 0;
      display: flex;
      align-items: center;
      @include breakpoint (tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
      .gform_title, .gform_description {
        margin: 0;
        text-transform: uppercase;
      }
      .gform_title {
        font-size: 26px;
        font-weight: 700;
        margin-right: 10px;
      }
      .gform_description {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .gform_body {
      width: 75%;
      @include breakpoint (phablet) {
        width: 100%;
      }
      .gform_fields {
        display: flex;
        @include breakpoint (tablet) {
          flex-direction: column;
        }
        .gfield {
          margin: 0;
          flex-grow: 1;
          padding-right: 20px;
          input {
            width: 100%;
            height: 50px;
          }
          @include breakpoint (tablet) {
            margin: 5px 0;
            padding-right: 0;
          }
        }
        .gfield_label {
          display: none;
        }
        .ginput_container {
          margin: 0;
        }
        input {
          padding: 10px!important;
          color: $secondary;
          font-weight: 600;
          &::placeholder {
            font-weight: 300;
            color: $primary;
          }
        }
      }
    }
    .gform_footer {
      width: 25%;
      margin: 0;
      padding: 0;
      @include breakpoint (phablet) {
        width: 100%;
      }
      input[type="submit"] {
        background-color: $secondary;
        color: white;
        border: 1px solid $secondary;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background: none;
          color: $secondary;
        }
        @include breakpoint (tablet) {
          margin: 10px 0;
        }
      }
    }
  }
}

.content-pagination {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  @extend %flex-center;
  a, span {
    color: $secondary;
    font-size: 14px;
    font-weight: 600;
    padding: 0 5px;
    margin: 0 5px;
    @include breakpoint (tablet) {
      font-size: 18px;
      padding: 0 8px;
    }
  }
  a {
    &:hover {
      color: $accent;
    }
  }
  .current {
    background-color: $accent;
  }
}

.select {
  @extend %select;
}

.gform_wrapper {
  h2 {
    text-align: center;
    &.gsection_title {
      padding: 20px 0!important;
      border-bottom: 5px solid $primary;
      display: inline-block;
    }
  }
  input[type="text"], select {
    padding: 8px 40px 8px 8px;
  }
  input[type="file"] {
    @include breakpoint (tablet) {
      font-size: 14px;
    }
    @include breakpoint (phablet) {
      font-size: 12px;
    }
  }
  textarea {
    width: 100%;
  }
  select {
    appearance: none;
  }
  a {
    display: inline-block;
    color: $secondary;
    font-size: 14px;
    text-decoration: underline;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
      color: $primary;
    }
  }
  .screen-reader-text {
    font-size: 14px;
    color: $secondary;
    @include breakpoint (phablet) {
      font-size: 10px;
    }
  }
  .general-form-section-2, .location-subsection, .job-subsection, .upload-subsection {
    background-color: $light-blue-2;
  }
  .general-form-title-section, .contact-subsection {
    .gsection_title {
      border-bottom-color: $yellow;
    }
  }
  .date-subsection {
    background-color: $light-blue-2;
  }
  .general-form-section, .appointment-section {
    border-top: 1px solid $mid-blue;
    &:first-of-type {
      border-top: none;
    }
  }
  .general-form-item, .appointment-form-item {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include breakpoint (laptop) {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
    @include breakpoint (tablet) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &.center-element {
      justify-content: center;
    }
  }
  .ginput_container_select {
    @extend %select;
  }
  .ginput_container_date {
    @extend %date-selector;
  }
  .ginput_container_fileupload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .ginput_complex {
    width: 100%;
    span {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      label {
        flex-basis: 33.3333333333%;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        color: $secondary;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        flex-shrink: 0;
      }
      input, select {
        flex-basis: 66.6666666666%;
      }
    }
  }
  .with-label {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &.for-textarea {
      align-items: flex-start;
    }
    &.upload-item {
      @include breakpoint (544px) {
        .gfield_label, .ginput_container {
          flex-basis: 100%;
        }
        .gfield_label {
          padding: 0;
          text-align: center;
        }
        .ginput_container {
          align-items: center;
        }
      }
    }
    .gfield_label {
      flex-basis: 33.3333333%;
      text-align: left;
      margin: 0;
      padding-right: 15px;
      color: $secondary;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      flex-shrink: 0;
      @include breakpoint (phablet) {
        flex-basis: 50%;
        font-size: 12px;
      }
    }
    .ginput_container {
      flex-basis: 66.6666666%;
      @include breakpoint (phablet) {
        flex-basis: 50%;
      }
      input[type="text"], select {
        width: 100%;
      }
    }
    .gfield_description {
      flex-basis: 66.66666666%;
      text-align: left;
      padding: 0 5px;
    }
    .gfield_radio, .gfield_checkbox {
      display: flex;
      margin: 0;
      width: 100%;
      @include breakpoint (phablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    li {
      width: 50%;
      display: flex;
      @extend %flex-center;
      @include breakpoint (phablet) {
        width: auto;
        padding: 5px 0;
      }
      label {
        margin: 0;
        padding: 0 8px;
      }
    }
  }
  .gform-select {
    position: relative;
    .ginput_container_select {
      @extend .select;
      position: relative;
    }
  }
  .no-label {
    label {
      display: none;
    }
  }
  .last-item {
    padding-bottom: 40px;
  }
  .after-text {
    padding-bottom: 20px;
  }
  .gfield {
    text-align: center;
    &.gsection {
      padding: 20px 0!important;
      border-bottom: none;
      text-align: center;
    }
  }
  .ginput_recaptcha {
    >div {
      margin: 0 auto;
    }
  }
  .gform-captcha {
    display: flex;
    @extend %flex-center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .gform_footer {
    display: flex;
    padding-bottom: 40px;
    @extend %flex-center;
    .gform_button {
      @include button(white, $primary, $mid-blue, 50px);
      @extend %button;
      padding-left: 80px;
      padding-right: 80px;
      cursor: pointer;
    }
  }
}

.gform_confirmation_wrapper {
  text-align: center;
  @extend h3;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.visually-hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
