.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 100;
  height: $header-height;
  @include breakpoint (desktop) {
    height: $header-height-desktop;
  }
  @include breakpoint (tablet) {
    height: $header-height-tablet;
  }
  @include breakpoint (phablet) {
    height: $header-height-phablet;
  }
  // &.has-announcement {
  //   height: $header-height-announcement;
  //   @include breakpoint (desktop) {
  //     height: $header-height-announcement-desktop;
  //   }
  //   @include breakpoint (tablet) {
  //     height: $header-height-announcement-tablet;
  //   }
  //   @include breakpoint (phablet) {
  //     height: $header-height-announcement-phablet;
  //   }
  //   .desktop-menu-container {
  //     @include breakpoint (desktop) {
  //       height: calc(100% - #{$announcement-bar-height});
  //     }
  //   }
  // }
  &.scrolled {
    padding: 8px 0;
    height: $header-height-scrolled;
    .top-nav-container, .middle-container, .nav {
      display: none;
    }
    .branding {
      padding: 0 30px 0 0;
    }
    .main-nav-container {
      justify-content: flex-end;
      @media (min-width: 769px) and (max-width: 991px) {
        max-width: 75%;
        flex-basis: 75%;
      }
    }
    .desktop-menu-container {
      justify-content: center;
      height: 100%;
    }
    .cta {
      width: auto;
      .menu {
        > li {
          flex-basis: initial;
          > a {
            color: $primary;
            border-left: 1px solid $light-blue;
            padding: 0 10px 0 5px;
            @include breakpoint (phablet) {
              border-left: none;
            }
            &:hover {
              background-color: $primary!important;
              color: white;
            }
          }
          i {
            padding: 0 5px;
            font-size: 18px;
          }
          &:first-of-type {
            > a {
              background: none;
            }
          }
          &:last-of-type {
            > a {
              background: none;
              border-right: 1px solid $light-blue;
              @include breakpoint (phablet) {
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
  .current-menu-item {
    font-weight: 700;
  }
}

.desktop-menu-container {
  position: relative;
  z-index: 2;
  background-color: white;
  @include breakpoint (desktop) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include breakpoint (laptop) {
    max-width: 100%;
  }
  @include breakpoint (phablet) {
    justify-content: center;
  }
}

.top-nav-container {
  //padding: 0;
  @include breakpoint (phablet) {
    display: none;
  }
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
  }
}

#accesstxt-2 {
  display: inline-block;
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
}

#social {
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  li {
    display: inline-block;
    padding: 0 20px;
    @include breakpoint (laptop) {
      font-size: 14px;
    }
    @include breakpoint (tablet) {
      padding: 0 10px;
    }
  }
}

.quick-container {
  @include breakpoint (tablet) {
    display: none;
  }
}

.social-container {
  padding-right: 0;
}

.quick-nav {
  background-color: $light-blue-2;
  ul {
    a {
      display: flex;
      @extend %flex-center;
      width: 100%;
      padding: 8px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      color: $primary;
      text-transform: uppercase;
      @include breakpoint (desktop) {
        font-size: 12px;
      }
      @include breakpoint (laptop) {
        font-size: 11px;
        padding: 5px;
      }
      &:hover {
        color: $secondary;
      }
      i {
        padding: 0 5px;
      }
    }
    li {
      flex-grow: 1;
      &:first-of-type {
        a {
          background-color: $primary;
          color: white;
          &:hover {
            background-color: $secondary;
          }
        }
      }
    }
  }
}

.branding {
  padding: 15px 0;
  transition: 0.3s;
  @include breakpoint (tablet) {
    padding: 0;
    width: 100%;
  }
  a, img {
    display: block;
  }
  img {
    @include breakpoint (tablet) {
      max-width: 200px;
    }
  }
}

.branding-container {
  @include breakpoint (tablet) {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
  }
}

.search-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow: hidden;
  @include breakpoint (tablet) {
    display: none;
  }
}

.search-form-container {
  flex-basis: calc(100% - 50px);
  overflow: hidden;
}

#search-icon {
  flex-shrink: 0;
  border: none;
  background: none;
  color: $primary;
  font-size: 45px;
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 50px;
  padding: 0;
  &.active {
    .fa-times {
      opacity: 1;
    }
    .fa-search {
      opacity: 0;
    }
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .fa-times {
    opacity: 0;
  }
  .fa-search {
    opacity: 1;
    font-size: 35px;
  }
}

#searchform {
  position: relative;
  width: 100%;
  display: flex;
  transition: 0.3s;
  left: 100%;
  &.active {
    left: 0;
  }
  #s {
    border: none;
    border-bottom: 1px solid $light-grey;
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
    &:focus {
      border-color: $primary;
    }
  }
  #searchsubmit {
    margin-left: 10px;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.3s;
    @include button (white, $secondary, $accent, 30px);
    &:hover {
      color: $secondary;
    }
  }
}

.mobile-menu-button-section {
  display: none;
  @include breakpoint (tablet) {
    display: flex;
    padding-left: 10px;
  }
}

#mobile-menu-button {
  border: none;
  background: none;
  color: $primary;
  font-size: 26px;
  cursor: pointer;
}

.middle-container {
  @include breakpoint (tablet) {
    display: none;
  }
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  // padding: 0;
  // @include breakpoint (laptop) {
  //   padding: 0 15px;
  // }
  @media (min-width: 769px) and (max-width: 991px) {
    max-width: 100%;
    flex-basis: 100%;
  }
  @include breakpoint (tablet) {
    justify-content: flex-end;
    padding: 8px 15px;
  }
}

.nav {
  @extend %menu-default;
  height: 100%;
  width: 66.66666666666%;
  @include breakpoint(tablet) {
    display: none;
  }
  .menu-main-navigation-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include breakpoint (tablet) {
      flex-direction: column;
    }
    >li {
      flex-basis: 25%;
      position: relative;
      border-left: 1px solid $mid-blue;
      @include breakpoint (tablet) {
        border-left: 0;
        border-bottom: 1px solid $mid-blue;
      }
      &:after {
        position: absolute;
        font-family: "Font Awesome 5 Pro";
        content: '\f078';
        color: $primary;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
        @include breakpoint (tablet) {
          top: 24px;
        }
      }
      &:hover {
        @media (min-width: 768px) {
          &>.sub-menu {
            display: flex;
          }
        }
      }
      &:nth-of-type(1) {
        &>.sub-menu {
          left: calc(0*-100% - 1px);
          &:before {
            left: calc(1 * 16.6666667% - 31px);
          }
        }
      }
      &:nth-of-type(2) {
        &>.sub-menu {
          left: calc(1*-100% - 2px);
          &:before {
            left: calc(2 * 16.6666667% - 31px);
          }
        }
      }
      &:nth-of-type(3) {
        &>.sub-menu {
          left: calc(2*-100% - 3px);
          &:before {
            left: calc(3 * 16.6666667% - 31px);
          }
        }
      }
      &:nth-of-type(4) {
        &>.sub-menu {
          left: calc(3*-100% - 4px);
          &:before {
            left: calc(4 * 16.6666667% - 31px);
          }
        }
      }
      > a {
        padding: 5px 36px 5px 10px;
        height:100%;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $secondary;
        text-transform: uppercase;
        @include breakpoint (desktop) {
          font-size: 12px;
        }
        @include breakpoint (tablet) {
          font-size: 14px;
          padding-top: 15px;
          padding-bottom: 15px;
          height: auto;
        }
      }
      &>.sub-menu {
        background-color: $light-blue-2;
        display: none;
        position: absolute;
        width: calc(600% + 6px);
        z-index: 3;
        box-shadow: 0 14px 14px rgba(0,0,0,0.2);
        @include breakpoint (tablet) {
          position: relative;
          display: block;
        }
        &:before {
          position: absolute;
          top: -21px;
          content: '\25E5';
          transform: rotate(-45deg);
          font-size: 28px;
          color: $primary;
          z-index: 2;
          @include breakpoint (tablet) {
            display: none;
          }
        }
        &.active {
          display: block;
        }
        &>.menu-item {
          padding: 5px 10px;
          flex-grow: 1;
          flex-shrink: 0;
          transition: 0.2s;
          flex-basis: 0;
          @include breakpoint (tablet) {
            padding: 0;
          }
          &>a {
            font-size: 18px;
            font-weight: 700;
            border-bottom: 2px solid $secondary;
            @include breakpoint (tablet) {
              font-size: 14px;
              font-weight: 600;
              text-transform: uppercase;
              border-bottom: 1px solid $light-blue;
            }
          }
          &:first-of-type {
            padding: 0;
          }
          &>.sub-menu {
            padding: 10px 5px;
            @include breakpoint (tablet) {
              padding: 0;
            }
            a {
              @include breakpoint (tablet) {
                padding-left: 35px;
              }
            }
          }
        }
        a {
          padding: 5px 10px;
          font-size: 14px;
          text-transform: capitalize;
          font-weight: 600;
          color: $secondary;
          @include breakpoint (tablet) {
            font-weight: 500;
            padding: 10px;
          }
          &:hover {
            color: $light-blue;
          }
        }
        .yawp_wim_wrap, .widget-area, .yawp_wim_widget, .menu-action {
          height: 100%;
        }
        .menu-action {
          position: relative;
          background-size: cover;
          display: flex;
          @extend %flex-center;
          flex-direction: column;
          padding: 20px;
          @include breakpoint (tablet) {
            background: none!important;
            padding: 10px;
          }
          * {
            position: relative;
            z-index: 2;
          }
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $primary;
            opacity: .7;
            z-index: 1;
            @include breakpoint (tablet) {
              display: none;
            }
          }
          .yawp_wim_title {
            font-size: 26px;
            font-weight: 700;
            line-height: 36px;
            color: white;
            @include breakpoint (tablet) {
              font-size: 18px;
              line-height: 24px;
              color: $secondary;
              text-align: center;
            }
          }
          a[class^="button-"] {
            height: auto;
            margin: 10px 0;
            display: flex;
            &:hover {
              color: white;
            }
            i {
              font-size: 18px;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.cta {
  @extend %menu-default;
  height: 100%;
  width: 33.3333333333333%;
  @include breakpoint (tablet) {
    width: auto;
  }
  @include breakpoint (525px) {
    display: none;
  }
  .menu-cta-navigation-container {
    height: 100%;
    width: 100%;
  }
  #menu-cta-navigation {
    height: 100%;
    max-height: 100%;
  }
  .menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint (phablet) {
      flex-direction: column;
      align-items: flex-end;
      border-right: 1px solid $light-blue;
    }
    >li {
      flex-basis: 50%;
      height: 100%;
      @include breakpoint (tablet) {
        flex-basis: auto;
      }
      @include breakpoint (phablet) {
        height: auto;
      }
      > a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        height:100%;
        @include breakpoint (laptop) {
          font-size: 12px;
          padding: 5px;
        }
        @include breakpoint (tablet) {
          color: $primary;
          border-left: 1px solid $light-blue;
          padding: 0 10px 0 5px;
        }
        @include breakpoint (phablet) {
          border-left: none;
        }
        &:hover {
          @include breakpoint (tablet) {
            color: lighten($primary, 10%)!important;
          }
        }
      }
      i {
        font-size: 35px;
        display: block;
        padding: 3px 10px;
        @include breakpoint (tablet) {
          font-size: 18px;
          padding: 0 5px;
        }
      }
      &:first-of-type {
        >a {
          background-color: $yellow;
          color: $primary;
          @include breakpoint (tablet) {
            background: none;
          }
          &:hover {
            background-color: darken($yellow, 15%);
            @include breakpoint (tablet) {
              background: none;
            }
          }
        }
      }
      &:last-of-type {
        >a {
          background-color: $primary;
          color: white;
          @include breakpoint (tablet) {
            background: none;
            color: $primary;
            border-right: 1px solid $light-blue;
          }
          @include breakpoint (phablet) {
            border-right: none;
          }
          &:hover {
            background-color: darken($primary, 15%);
            @include breakpoint (tablet) {
              background: none;
            }
          }
        }
      }
    }
  }
}

.mobile-menu-container {
  padding-top: $header-height-tablet;
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  background-color: white;
  transition: 0.3s;
  z-index: 1;
  display: none;
  @include breakpoint (tablet) {
    display: block;
  }
  @include breakpoint (phablet) {
    padding-top: $header-height-phablet;
  }
  &.open {
    top: 0;
  }
  ul {
    list-style: none;
  }
  >.container {
    height: 100%;
    overflow-y: scroll;
  }
  .nav {
    @include breakpoint (tablet) {
      display: flex;
      width: 100%;
      height: auto;
    }
    .menu {
      li {
        &.active {
          &:after {
            content: '\f077';
          }
          .sub-menu {
            flex-direction: column;
            width: 100%;
            max-height: 300vh;
            left: auto!important;
            .menu-item {
              border-bottom: 1px solid $light-blue;
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  .sub-menu {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .cta {
    display: none;
    height: auto;
    @include breakpoint (525px) {
      display: block;
    }
    .menu {
      height: auto;
      align-items: center;
      border-right: none;
      &>li {
        padding: 15px 0;
        border-bottom: 1px solid $mid-blue;
        width: 100%;
      }
      a {
        justify-content: center;
      }
    }
  }
}

.mobile-social-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-cta {
  padding: 0 5px;
  display: none;
  @include breakpoint (tablet) {
    display: block;
  }
  .menu {
    display: flex;
    list-style: none;
    > li {
      flex-basis: initial;
      > a {
        color: $primary;
        border-left: 1px solid $light-blue;
        padding: 0 10px 0 5px;
        text-transform: uppercase;
        font-size: 14px;
      }
      i {
        padding: 0 5px;
        font-size: 18px;
      }
      &:first-of-type {
        > a {
          background: none;
        }
      }
      &:last-of-type {
        > a {
          background: none;
          border-right: 1px solid $light-blue;
        }
      }
    }
  }
}
