#html5-watermark {
  display: none!important;
}

.metaslider {
  overflow-x: hidden;
  h2 {
    color: white;
  }
  .button-blue {
    display: inline-flex;
    @extend %flex-center;
    margin: 15px 0;
    @include breakpoint (tablet) {
      margin: 55px 0 0 0;
    }
  }
  .caption-wrap {
    opacity: 1!important;
    background: none!important;
    height: 100%;
  }
  .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 0!important;
    @include breakpoint ($breakpoint-desktop-large) {
      padding: 0 15px!important;
    }
    @include breakpoint (desktop) {
      max-width: 960px;
    }
    @include breakpoint (laptop) {
      max-width: 720px;
      align-items: center;
      text-align: center;
    }
    @include breakpoint (tablet) {
      max-width: 540px;
    }
    @include breakpoint (phablet) {
      max-width: 100%;
    }
  }
  img[class^="slider-"] {
    @include breakpoint ($breakpoint-desktop-large) {
      height: 450px!important;
      object-fit: cover;
    }
  }
}

.slick-slider {
  overflow: hidden;
  .slick-track {
    display: flex;
  }
  .slick-slide {
    outline: none;
    font-weight: 600;
    color: $secondary;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 26px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    .slick-active {
      button {
        background-color: $secondary;
        color: $secondary;
      }
    }
    button {
      font-size: 2px;
      padding: 0;
      margin: 0 3px;
      height: 12px;
      width: 12px;
      background: none;
      border: 2px solid $secondary;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: $mid-blue;
        color: $mid-blue;
      }
    }
  }
}

.acf-map {
	width: 100%;
	height: 100%;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.gform_wrapper {
  ul {
    list-style: none;
    padding: 0;
  }
}

.ui-datepicker {
  background-color: white;
  margin-top: 0!important;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 57, 100, 0.2);
  .ui-datepicker-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    span {
      padding: 0 5px;
      font-size: 12px;
      color: $primary;
      cursor: pointer;
      &:hover {
        color: $accent;
      }
    }
  }
  .ui-datepicker-title {
    width: 100%;
    display: flex;
    select {
      font-size: 12px;
      color: $dark-grey;
      width: calc(50% - 10px);
      margin: 0 5px;
      border: none;
      border-bottom: 1px solid $light-grey;
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    th, td {
      text-align: center;
      vertical-align: middle;
       span, a {
         font-size: 12px;
       }
    }
    td {
      padding: 2px;
      transition: 0.2s;
      a {
        display: inline-block;
        width: 100%;
        border-bottom: 3px solid white;
        color: $dark-grey;
        transition: none;
      }
      &:hover {
        background-color: $primary;
        a {
          color: white;
          border-bottom-color: white;
        }
      }
    }
  }
}
