$header-height: 201px;
$header-height-desktop: 188px;
$header-height-tablet: 108px;
$header-height-phablet: 80px;
$header-height-scrolled: 66px;
// $announcement-bar-height: 31px;
// $header-height-announcement: $header-height + $announcement-bar-height;
// $header-height-announcement-desktop: $header-height-desktop + $announcement-bar-height;
// $header-height-announcement-tablet: $header-height-tablet + $announcement-bar-height;
// $header-height-announcement-phablet: $header-height-phablet + $announcement-bar-height;
$breakpoint-desktop-large: 1250px;
$staff-member-photo-size: 200px;
$location-page-left-vertical-offset: -160px;
$wp-admin-bar: 32px;
$header-height-logged-in: $header-height - $wp-admin-bar;
$h1-line-height: 45px;
$h1-line-height-tablet: 36px;

$h1-size: 40px;
$h1-size-responsive: 32px;
$h1-font-weight: 700;

$h2-size:30px;
$h2-size-responsive: 20px;
$h2-font-weight: 600;

$h3-size: 26px;
$h3-line-height: 36px;
$h3-font-weight: 700;

$h4-size: 18px;
$h4-line-height: 24px;
$h4-font-weight: 600;

$h5-size: 12px;
$h5-line-height: 17px;
$h5-font-weight: 600;
