@mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 1200px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 992px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 576px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 360px)  { @content ; }
	 }
	 @else {
		 @media (max-width: $point) { @content ; }
	 }
 }

 @mixin button-fill-hover ($main, $text) {
	 border: 1px solid $main;
	 background-color: $main;
	 color: $text;
	 &:hover {
		 background-color: transparent;
		 color: $main;
	 }
 }

 @mixin button-outline-hover ($main, $text) {
	 border: 1px solid $main;
	 color: $main;
	 &:hover {
		 background-color: $main;
		 color: $text;
	 }
 }

 @mixin button ($main, $background, $hover, $height) {
   border: 1px solid $background;
   color: $main;
   background-color: $background;
   height: $height;
   &:hover {
     background-color: $hover;
     border-color: $hover;
   }
 }

 @mixin button-round ($main, $background, $hover, $height) {
   border: 1px solid $background;
   color: $main;
   background-color: $background;
   height: $height;
   border-radius: $height/2;
   &:hover {
     background-color: $hover;
     border-color: $hover;
   }
 }
