.blog-header-container {
	height: 65vh;
	position: relative;
	h1, h5 {
		color: white;
	}
	h1 {
		margin-bottom: 10px;
		@include breakpoint (tablet) {
			overflow: hidden;
			max-height: $h1-line-height-tablet*3;
		}
		a {
			color: white;
			&:hover {
				color: $accent;
			}
		}
	}
	h5 {
		text-transform: uppercase;
		a {
			color: white;
			&:hover {
				color: $accent;
			}
		}
	}
	.latest-post {
		border-bottom: 2px solid $accent;
		display: inline-block;
		text-transform: uppercase;
		font-size: $h5-size;
		font-weight: $h5-font-weight;
		color: white;
		a {
			color: white;
			&:hover {
				color: $accent;
			}
		}
	}
	.blog-header-titles {
		.blog-header-titles-meta {
			color: white;
			a {
				color: white;
				&:hover {
					color: $accent;
				}
			}
		}
	}
	.author-link {
		text-transform: uppercase;
	}
}

.blog-header-titles {
	position: relative;
	z-index: 2;
	height: calc(100% - 41px);
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.row {
		width: 100%;
	}
	.blog-header-titles-meta {
		color: $primary;
		font-weight: 700;
		text-transform: uppercase;
		font-size: $h5-size;
	}
}

.blog {
	.page-share-container {

	}
}

.post-grid-container {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.single-post {
	h1 {
		color: $secondary;
		margin-bottom: 10px;
	}
	h5 {
		color: $primary;
		font-weight: 700;
		text-transform: uppercase;
	}
	.blog-info-meta {
		color: $primary;
		font-weight: 700;
		text-transform: uppercase;
		font-size: $h5-size;
	}
	.content, .blog-info {
		a {
			color: $primary;
			&:hover {
				color: $accent;
			}
		}
	}
	.crunchify-social {
		a {
			color: white;
			&:hover {
				color: white;
			}
		}
	}
}
