.brand-title-container {
  padding-top: 20px;
  padding-bottom: 20px + 41px;
}


.brand-excerpt {
  color: white;
  text-align: center;
  padding: 20px 5% 90px 5%;
  p {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 18px;
  }
}
