.career-title-container {
  color: $secondary;
  .title {
    h1 {
      margin-bottom: 0;
    }
  }
  .subtitle {
    h4 {
      font-size: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
  }
}

.submit-container {
  .linkedin {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .crunchify-link {
    margin: 0;
  }
}

.career-content-bottom-container {
  text-align: center;
  .bottom-submit {
    a {
      width: 180px;
      margin: 0 auto;
    }
  }
}

.post-type-archive-careers {
  h3 {
    margin-bottom: 20px;
  }
  .page-header-container {
    .button-blue {
      width: 330px;
      margin: 0 auto;
      @include breakpoint (phablet) {
        width: 250px;
      }
    }
  }
}

.testimonial-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to right, $accent 16.6666667%, white 16.6666667%);
  @include breakpoint (767px) {
    background: linear-gradient(to bottom, $accent 280px, white 280px);
  }
  .section-header {
    @include breakpoint (767px) {
      .line {
        background-color: $primary;
      }
    }
  }
  .testimonial-title-container {
    padding-bottom: 20px;
  }
  .avatar-container {
    display: flex;
    @extend %flex-center;
    @include breakpoint (767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .avatar {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
  }
  .quote {
    font-size: 144px;
    line-height: 165px;
    color: $primary;
    font-family: "Times New Roman", "Times", san-serif;
    @include breakpoint (laptop) {
      font-size: 120px;
    }
  }
  .testimonial-text-container {
    display: flex;
    @extend %flex-center;
    flex-wrap: wrap;
    .row {
      width:100%;
    }
    .slick-list {
      padding: 30px 0;
    }
  }
  .testimonial-author {
    text-align: right;
  }
}

.career-features-section-container {
  div[id^="jarallax-container-"] {
    &:before {
      background-color: $secondary;
      opacity: 0.7;
    }
  }
}

.careers-features-container {
  padding-top: 60px;
  padding-bottom: 60px;
  h3 {
    color: white;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.benefits-container {
  padding-top: 40px;
}

.benefit-container {
  display: flex;
  @extend %flex-center;
  @include breakpoint (tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.benefit {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: $light-blue-2;
  display: flex;
  flex-direction: column;
  @extend %flex-center;
  text-align: center;
  padding: 20px;
  @include breakpoint (laptop) {
    height: 180px;
    width: 180px;
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 12px;
    }
  }
  @include breakpoint (tablet) {
    height: 280px;
    width: 280px;
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}

.job-listings-container {
  padding-top: 40px;
  padding-bottom: 40px;
  h4 {
    font-size: 20px;
    margin: 0;
  }
  .list-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-filters {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .filters-dropdown-container {
    .col {
      @include breakpoint (tablet) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .select {
      height: 100%;
      select {
        height: 100%;
      }
    }
  }
  .job-listing {
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    border-bottom: 1px solid $light-blue;
    &:last-of-type {
      border-bottom: none;
    }
    &.active {
      display: flex;
    }
    .title {
      @include breakpoint (tablet) {
        justify-content: center;
      }
      h4 {
        text-transform: uppercase;
        @include breakpoint (tablet) {
          padding: 15px 0;
        }
      }
    }
    .city {
      justify-content: flex-end;
      @include breakpoint (tablet) {
        justify-content: flex-start;
      }
      h4 {
        text-transform: capitalize;
        color: black;
        font-weight: normal;
      }
    }
  }
  #nojobs {
    display: none;
    text-align: center;
    &.active {
      display: block;
    }
  }
}
