.page-template-page-download {
  .page-excerpt {
    padding-bottom: 220px;
  }
  #field_10_5 {
    > label {
      display: none;
    }
  }
}

.download-links-row-container {
  position: relative;
  top: -160px;
  margin-bottom: -160px;
}

.download-links-content-container {
  padding-bottom: 20px;
}

.download-card {
  display: flex;
  flex-direction: column;
  @extend %flex-center;
  background-color: $primary;
  color: white;
  height: 300px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
  i {
    font-size: 70px;
    padding-bottom: 40px;
  }
  h3 {
    color: white;
    text-align: center;
  }
  &:hover {
    background-color: $accent;
    i, h3 {
      color: $primary;
    }
  }
}
