.page-template-page-home {
  .button-blue {
    padding: 5px 55px;
  }
  .section-header {
    h3 {
      margin-bottom: 20px;
    }
  }
}

.hero-container {
  height: calc(100vh - #{$header-height});
  @include breakpoint ($breakpoint-desktop-large) {
    height: initial;
  }
  >.row {
    height: 100%;
  }
  .left {
    width: calc(50vw + 1060px / 6);
    position: relative;
    background-size: cover;
    @include breakpoint ($breakpoint-desktop-large) {
      width: 100%;
      height: 500px;
      background-position: center center;
    }
    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background: linear-gradient(to right bottom, rgba(255,255,255,0.4) 20%, rgba(255,255,255,0));
    	opacity: 1;
      z-index: 2;
      }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include breakpoint ($breakpoint-desktop-large) {
      flex-direction: row;
      height: 400px;
    }
    @include breakpoint (tablet) {
      height: 250px;
    }
    @include breakpoint (phablet) {
      flex-direction: column;
    }
    a[class^="right-"] {
      flex-basis: 50%;
      display: flex;
      @extend %flex-center;
      position: relative;
      overflow: hidden;
      transition: 0.3s;
      &:hover {
        .background-image {
          transform: scale(1.2) translate(-50%, -50%);
          filter: blur(5px);
        }
      }
    }
    .right-1 {
      h1, h2 {
        color: white;
      }
      &:before {
        content: '';
      	position: absolute;
      	top: 0;
      	right: 0;
      	bottom: 0;
      	left: 0;
      	background: $primary;
      	opacity: 0.7;
        z-index: 2;
        }
    }
    .right-2 {
      h1, h2 {
        color: $primary;
      }
      &:before {
        content: '';
      	position: absolute;
      	top: 0;
      	right: 0;
      	bottom: 0;
      	left: 0;
      	background: white;
      	opacity: 0.8;
        z-index: 2;
        }
    }
    .background-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform-origin: 0% 0%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }
  }
}

.hero-left-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  @include breakpoint (phablet) {
    left: 0;
    width: 100%;
    padding: 10px;
    align-items: center;
  }
  h1, h2 {
    color: $primary;
  }
  .button-yellow {
    margin: 20px 0;
  }
}

.hero-right-text-container {
  z-index: 2;
  text-align: center;
  h1, h2 {
    color: white;
  }
}

.for-container {
  background-color: $offwhite;
}

.offset-container {
  position: relative;
  z-index: 1;
}

.sheet-container {
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
  position: relative;
  &.top {
    top: 40px;
  }
  &.bottom {
    bottom: 40px;
  }
  h4 {
    color: $secondary;
    margin-bottom: 20px;
    a {
      color: $secondary;
      &:hover {
        color: $accent;
      }
    }
  }
}

.sheet-text-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint (phablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo-icon {
    max-width: 50px;
    max-height: auto;
    margin-bottom: 30px;
  }
  p {
    margin: 30px 0;
  }
}

.slider-container {
  position: relative;
  h1, h2 {
    color: white;
    margin-bottom: 20px;
    text-transform: initial;
    @include breakpoint (tablet) {
      text-align: center;
    }
  }
  .home-slide {
    height: 500px;
    background-size: cover;
    .container, .row, .col {
      height: 100%;
    }
    .container {
      .row {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  .slider-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .button-blue {
      text-transform: initial;
    }
    @include breakpoint (tablet) {
      align-items: center;
    }
  }
  .slick-list {
    position: relative;
    left: -15px;
    right: -15px;
    width: calc(100% + 30px);
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 30px;
    color: white;
  }
  .far {
    font-size: 40px;
    cursor: pointer;
  }
  .fa-chevron-left {
    left: calc((100% - 1140px) / 2);
    @include breakpoint (1199px) {
      left: calc((100% - 960px) / 2);
    }
    @include breakpoint (991px) {
      left: calc((100% - 720px) / 2);
    }
    @include breakpoint (767px) {
      left: calc((100% - 540px) / 2);
    }
    @include breakpoint (575px) {
      left: 5px;
    }
  }
  .fa-chevron-right {
    right: calc((100% - 1140px) / 2);
    @include breakpoint (1199px) {
      right: calc((100% - 960px) / 2);
    }
    @include breakpoint (991px) {
      right: calc((100% - 720px) / 2);
    }
    @include breakpoint (767px) {
      right: calc((100% - 540px) / 2);
    }
    @include breakpoint (575px) {
      right: 5px;
    }
  }
}

.feature-container {
  display: flex;
}

.tile-buttons-container {
  position: relative;
  z-index: 0;
}

#sheet-1-right {
  background-size: cover;
  background-position: center center;
  position: relative;
  @include breakpoint (laptop) {
    height: 350px;
  }
}

#sheet-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  .feature-container {
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    height: 160px;
    padding: 30px;
    img {
      max-height: 100%;
    }
  }
  .text-container {
    text-align: center;
    padding: 0 5%;
  }
  .button-container {
    display: flex;
    @extend %flex-center;
    padding-top: 40px;
  }
  .button-blue {
    display: inline-flex;
  }
}

#sheet-3 {
  padding-top: 40px;
  padding-bottom: 40px;
  .feature-container {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-blue-2;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    @include breakpoint (tablet) {
      height: 300px;
    }
    @include breakpoint (phablet) {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .image-container {
    width: 20%;
    padding: 25px;
    text-align: center;
    @include breakpoint (laptop) {
      width: 25%;
    }
    @include breakpoint (tablet) {
      width: 33.33333%;
    }
    @include breakpoint (phablet) {
      height: 140px;
      width: auto;
    }
    img {
      height: 80px;
      max-height: 100%;
      @include breakpoint (laptop) {
        height: 55px;
      }
      @include breakpoint (phablet) {
        height: 100%;
      }
    }
  }
  .text-container {
    width: 80%;
    @include breakpoint (laptop) {
      width: 75%;
    }
    @include breakpoint (tablet) {
      width: 66.66666%;
    }
    @include breakpoint (phablet) {
      width: 100%;
      text-align: center;
    }
  }
  .button-container {
    display: flex;
    @extend %flex-center;
    padding-top: 40px;
  }
  .button-blue {
    display: inline-flex;
  }
}
