.locations-template-default {
  h1 {
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    @include breakpoint (desktop) {
      font-size: 36px;
      line-height: 36px;
    }
    @include breakpoint (laptop) {
      text-align: center;
    }
  }
}

.single-locations {
  .location-gallery {
    margin-top: 20px;
    .gallery-title {
      background-color: $primary;
      text-align: center;
      padding: 20px 0 10px 0;
      margin-bottom: 10px;
      h3 {
        color: white;
        margin: 0;
      }
    }
    .gallery-footer {
      background-color: $primary;
      height: 15px;
      margin-top: 10px;
    }
    .gallery-image {
      img {
        border: 5px solid white;
        box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
  .location-reviews {
    background-color: $primary;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    h3 {
      color: white;
    }
  }
  .review-container {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    @include breakpoint (phablet) {
      font-size: 14px;
    }
  }
  .stars-container, .reviewer-container {
    margin: 10px 0;
  }
  .reviewer-container {
    @include breakpoint (phablet) {
      font-size: 16px;
    }
  }
  .slick-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    position: relative;
    .slick-list {
      width: 100%;
    }
    .slick-slide {
      color: white;
      display: flex;
      flex-direction: column;
      @extend %flex-center;
      padding: 0 40px;
      @include breakpoint (phablet) {
        padding: 0 20px;
      }
    }
    ul {
      padding-left: 0;
    }
    .slick-dots {
      button {
        color: $primary;
        border-color: white;
      }
      .slick-active {
        button {
          color: white;
          background-color: white;
        }
      }
    }
    .far {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 2;
      font-size: 20px;
      @include breakpoint (phablet) {
        font-size: 14px;
      }
    }
    .fa-chevron-left {
      left: 8px;
      @include breakpoint (phablet) {
        left: 5px;
      }
    }
    .fa-chevron-right {
      right: 8px;
      @include breakpoint (phablet) {
        right: 5px;
      }
    }
  }
}

.location-information-container {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 90px;
  @include breakpoint (laptop) {
    padding-bottom: 30px;
  }
}

.location-map-container {
  padding: 0;
  .acf-map {
    @include breakpoint (laptop) {
      height: 400px;
    }
  }
}

.location-details-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint (phablet) {
    flex-direction: column;
  }
}

.info-item {
  margin: 5px 10px;
  flex-basis: calc(50% - 20px);
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid $mid-blue;
  @include breakpoint (phablet) {
    margin: 5px 0;
    flex-basis: auto;
  }
  h3 {
    a {
      color: $primary;
      &:hover {
        color: $accent;
      }
      @include breakpoint (1650px) {
        font-size: 18px;
      }
    }
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: $secondary;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
    @include breakpoint (1650px) {
      font-size: 12px;
    }
  }
  .fal {
    position: absolute;
    color: $mid-blue;
    top: 10px;
    left: 25px;
    font-size: 30px;
    line-height: 30px;
    transform: translateX(-50%);
  }
}

.info-item-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  height: 100%;
  &.hours {
    @include breakpoint (phablet) {
      padding-right: 15px;
    }
  }
  .store-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 10px);
    .button-blue {
      margin-bottom: 10px;
      width: calc(100% - 50px);
      @include breakpoint (1650px) {
        width: 100%;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .store-hours {
    display: flex;
    justify-content: space-between;
  }
}

.location-left-container {
  position: relative;
  margin-bottom: $location-page-left-vertical-offset;
}

.location-left-content-container {
  position: relative;
  top: $location-page-left-vertical-offset;
}

.location-contact-form {
  padding: 20px;
  background-color: $primary;
  color: white;
  text-align: center;
  h3, a {
    color: white;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  >a {
    text-decoration: underline;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
      color: $accent;
    }
  }
  li {
    text-align: left;
  }
  input[type="text"], select {
    width: 100%;
    padding: 8px 5px;
    height: 45px;
   }
   #field_5_11 {
     display: none;
   }
  .gfield {
    padding: 0!important;
    margin-top: 26px!important;
    .gfield_label {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      width: 100%;
      text-align: left;
      &[for="input_5_2"], &[for="input_5_3"], &[for="input_5_4"], &[for="input_5_5"] {
        display: none;
      }
    }
    .gfield_radio, .gfield_checkbox {
      display: flex;
      li[class^="gchoice"] {
        flex-basis: 50%;
        label {
          line-height: 18px;
          text-transform: uppercase;
        }
      }
    }
    input[type="checkbox"] {
      margin-top: 0!important;
    }
  }
  .date-picker {
    display: flex;
    align-items: center;
    .gfield_label {
      margin: 0;
      flex-basis: 20%;
    }
    .ginput_container_date {
      flex-basis: 80%;
    }
  }
  .gform_footer {
    display: flex;
    @extend %flex-center;
    .gform_button {
      @include button($primary, $light-blue-2, $mid-blue, 50px);
      @extend %button;
      padding-left: 80px;
      padding-right: 80px;
      cursor: pointer;
    }
  }
}

.location-adzone {
  margin: 20px 0;
}

.location-staff-title-container {
  text-align: center;
}

.staff-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  .image {
    width: $staff-member-photo-size;
    height: $staff-member-photo-size;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 5px;
  }
  h5 {
    font-size: 14px;
  }
}

.locations-map-container {
  background-color: $offwhite;
}

.locations-map-search-container {
  height: 40px;
  position: relative;
  z-index: 3;
}

.locations-overlay {
  background-color: white;
  padding: 20px 70px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
  @include breakpoint (tablet) {
    padding: 20px;
  }
}

.locations-searchform {
  .title-container {
    text-align: center;
    color: $secondary;
  }
  i {
    font-size: 30px;
    color: $mid-blue;
    flex-shrink: 0;
    padding: 0 15px;
    @include breakpoint (tablet) {
      padding: 0 0 0 10px;
    }
  }
}

.locations-searchform-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 15px 0;
  position: relative;
  input {
    flex-grow: 1;
    padding: 10px;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.5);
  }
  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-shrink: 0;
    padding: 7px 14px;
    background-color: $mid-blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: darken($mid-blue, 15%);
    }
    i {
      font-size: 30px;
    }
  }
}

.searchsection-container {
  display: flex;
  align-items: center;
}

.locations-acf-map-container {
  height: 800px;
}

.locations-list-container {
  background-color: $offwhite;
}

.location-list-items-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.locations-list-filter-container {
  position: relative;
  padding-bottom: 100px;
}

.locations-list-filter {
  position: absolute;
  width: 100%;
  left: 0;
  top: -60px;
}

.list-filter-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.list-item-block-container {
  padding-bottom: 20px;
}

.list-item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.2);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  h3 {
    display: flex;
    @extend %flex-center;
    font-weight: 600;
    line-height: 30px;
    color: black;
    flex-basis: 60px;
  }
}

.city-group {
  background-color: $light-blue;
  padding: 3px 0;
  h5 {
    font-size: 14px;
    font-weight: 600;
    color: $secondary;
  }
}

.list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  font-size: 14px;
  * {
    flex-shrink: 0;
  }
  .get-direction {
    text-decoration: underline;
    padding: 5px 0;
    color: black;
    &:hover {
      color: $primary;
    }
  }
  .hours {
    flex-grow: 1;
    padding: 10px 0;
  }
  p {
    flex-grow: 1;
  }
  a {
    h3 {
      color: black;
      margin-bottom: 10px;
    }
    &:hover {
      h3 {
        color: $primary;
      }
    }
  }
  .button-blue {
    text-transform: capitalize;
  }
}

#gform_confirmation_message_5 {
  padding: 50px 0;
  font-size: 18px;
  color: $accent;
}
