.page-title-container, .page-excerpt-container {
  text-align: center;
}
.page-title-container {
  padding-top: 20px;
}

div[id^="jarallax-container-"] {
  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	opacity: .5;
    z-index: 2;
    }
}

.page-excerpt-container {
  display: flex;
  @extend %flex-center;
}

.page-header-cta-container {
  padding-bottom: 60px;
}

.page-sidebar-container {
  @include breakpoint (laptop) {
    display: none;
  }
}

.page-share-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-nav {
  padding-top: 40px;
  ul {
    list-style: none;
  }
  a {
    color: $secondary;
    font-size: 14px;
    line-height: 18px;
    &:hover {
      color: $mid-blue;
    }
  }
  .menu {
    > .menu-item {
      &:first-of-type {
        >a {
          padding-top: 0;
        }
      }
      &.active {
        > a {
          border-color: $accent;
        }
        .sub-menu {
          max-height: initial;
          padding: 10px 0 10px 15px;
          border-bottom: 2px solid $light-blue;
        }
      }
      > a {
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 0;
        border-bottom: 2px solid $light-blue;
        display: block;
        &:hover {
          color: $mid-blue;
        }
      }
    }
  }
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    .current-menu-item, .current-menu-parent {
      font-weight: 700;
    }
  }
}

.page-id-20478 {
  #field_1_9 {
    display: none;
  }
}

.page-id-21321 {
  #gform_fields_9 {
    margin: 0;
  }
  .gform_footer {
    background-color: $light-blue-2;
  }
}

.page-id-20488 {
  .content {
    padding: 0;
  }
  .section {
    padding: 40px 15%;
    border-bottom: 1px solid $light-blue;
    @include breakpoint (phablet) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .section-blue {
    background-color: $light-blue-2;
  }
  .section-white {
    background-color: white;
  }
  p {
    margin-top: 20px;
  }
}

.page-id-20482 {
  table, td {
    border: none;
  }
}

.page-id-20491 {
  .content {
    form {
      input[type="radio"] {
        padding-right: 10px;
      }
      .input-radio {
        .gfield_label {
          @extend h3;
          font-weight: 600;
          font-size: 26px;
          line-height: 36px;
          padding-bottom: 5px;
          border-bottom: 5px solid $accent;
        }
        .gfield_radio {
          label {
            padding-left: 3px;
          }
        }
      }
      .input-email {
        display: flex;
        @extend %flex-center;
        .gfield_label {
          margin: 0;
          @extend h3;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.page-id-20513, .page-id-21595, .page-id-21655, .page-id-21685, .page-id-21692 {
  .gform_heading {
    padding-bottom: 20px;
  }
  .with-title {
    .gfield_label {
      @extend h3;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      padding-bottom: 5px;
      border-bottom: 5px solid $accent;
    }
  }
  .gsection_title {
    border-color: $accent!important;
  }
}

.page-id-20983 {
  .gform_confirmation_wrapper {
    padding: 40px;
  }
}

.page-id-21692 {
  .gfield {
    padding-left: 0;
    padding-right: 0;
  }
}
