.product-image {
  text-align: center;
  margin-bottom: 20px;
  img {
    max-width: 50%;
    @include breakpoint (tablet) {
      max-width: 75%;
    }
  }
}

.product-container {
  border-bottom: 1px solid $light-blue;
  height: 100%;
  .thumbnail-link {
    display: block;
    text-align: center;
    height: 180px;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}

.product-container-title {
  font-size: 20px;
  line-height: 26px;
}

.product-content-container {
  .content {
    >.row {
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
}

.product-subtitle-container {
  .section-header {
    margin-bottom: 30px;
  }
}

.product-container-content {
  padding-top: 10px;
}
