.search {
  .section-header {
    padding-bottom: 40px;
  }
  .post-container {
    display: flex;
    padding: 15px 0;
  }
  .post-container-content {
    padding: 0 15px;
  }
  .thumbnail-link {
    flex-basis: 30%;
    flex-shrink: 0;
    height: 200px;
    img {
      height: auto;
      width: auto;
      max-height: 100%;
      min-width: 100%;
    }
  }
  .content-pagination {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.search-content-container {
  padding-bottom: 20px;
}

div.search-results {
  &:last-of-type {
    .post-container {
      border-bottom: none;
    }
  }
}
