@import 'partials/mixins';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
* {
  font-family: 'Open Sans', sans-serif;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  @include breakpoint (tablet) {
    font-size: 32px;
  }
}

h2 {
  font-weight: 600;
  font-size: 30px;
  @include breakpoint (tablet) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
}

a {
  transition: 0.2s;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

button, input {
  &:focus {
    outline: 0;
  }
}

img, iframe {
  max-width: 100%;
}

input[type="text"], select, textarea {
  border: 1px solid #ddd;
}
